.skills {
  height: 100vh;
  position: relative;
  z-index: -1;
}

.skillContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skillBgVideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.heading {
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5vh;
}
.tagLine {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 1.5vw;
  font-weight: 500;
}
.skillsImg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: auto;
  flex-direction: column;
  padding: 10vh 0;
}
.imgContainer1,
.imgContainer2 {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillsImg img {
  height: 70px;
}


@media(max-width: 768px) {
    .skillContainer{
        width: 100%;
        padding: 0 5%;
        overflow: hidden;
    }
    .skillBgVideo {
        scale: 4;
        top: 40%;
    }
    .skillHeading {
      position: relative;
      top: 8vh;
      margin-bottom: 10vh;
    }
    .heading {
      font-size: 8vw;
    }
    .tagLine{
      display: none;
    }
    .skillsImg{
      height: 70vh;
      flex-wrap: wrap;
      position: relative;
      gap: 0px;
    }
    .imgContainer1 img ,.imgContainer2 img {
      height: 50px;
    }
    .imgContainer1{
      height: 50%;
      flex-wrap: wrap;
      top: 0;
      position: absolute;
      justify-content: space-evenly;
    }
    .imgContainer2{
      height: 50%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: absolute;
      bottom: 0;
    }
    
}